body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #FFF;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #border {
        border: 3px solid #FFFFFF;
        display: block;
        width: $banner-width - 6;
        height: $banner-height - 6;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }

    #border2 {
        border: 1px solid #000000;
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }

    #curtain {
        left: 0;
        top: 0;
        width: $banner-width;
        height: $banner-height;
        background-color: rgba(255, 255, 255, 1);
        pointer-events: none;
        position: absolute;
    }

    #scene {
        left: 0;
        top: 0;
        width: 455px;
        height: $banner-height;
        background: radial-gradient(ellipse at center, rgba(241,241,241,1) 70%,rgba(201,216,226,1) 100%);
        position: absolute;

        #container {
            left: 90px;
            top: 3px;
            width: 300px;
            height: 57px;
            overflow: hidden;
            position: absolute;
            transform: scale(1.1) translate3d(0, 0, 0.1px);
            opacity: 0;
        }

        #atlas {
            left: -10px;
            top: 6px;
            transform: scale(.9) translate3d(0, 0, 0.1px);
            position: absolute;
        }

        #tiguan {
            right: -10px;
            top: 8px;
            transform: scale(.9) translate3d(0, 0, 0.1px);
            position: absolute;
        }

    }

    #footer {
        background: #FFFFFF;
        right: 0;
        bottom: 0;
        width: 273px;
        height: $banner-height;
        position: absolute;

        #cta_arrow {
            left: 12px;
            bottom: 25px;
            clip: rect(0px, 88px, 11px, 78px);
            opacity:0;
            position: absolute;
        }

        #cta_txt {
            left: 12px;
            bottom: 25px;
            clip: rect(0px, 78px, 11px, 0px);
            opacity:0;
            position: absolute;
        }

        #logo {
            right: 8px;
            bottom: 8px;
            position: absolute;
        }
    }
}
